/* ? google front - place at the top */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
    themes: light-default;
}

/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #D72050;
  --color-base-200 : #F3F3F3;
  --color-base-300 : #E7E7E7;
  --color-accent : #706f6f;
}  */

*{
  font-family: "Funnel Sans", sans-serif; 
}

a.active{
  @apply  underline  rounded-sm  
}